body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 100vw;
  height: 778px;
  width: 1400px;
  text-align: center;
  padding: 20px;
  
}
/* 頁首標題 */
h1 {
  text-align: center;
  font-size: 300px;
  color: #000;
}

/* 產品列表 */
.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-card {
  margin: 60px;

  img {
    cursor: pointer;
    border-radius: 10px; 
  }
}

.CardDetail {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  background-color: #fcf3d7;
}

/* 購物車 */

.AddToCart {
  border: 1px solid #000;
}

.CartIcon {
  position: absolute;
  top: 55px;
  right: 50px;
  width: 56px;
  height: 56px;
}

.cartSidebar {
  position: fixed;
  left: 0;
  top: 80;
  width: 300px;
  height: 80%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  overflow: scroll;
  transition: 5s;
}

.cartSidebar.open {
  transform: translateX(0); 
}

/* 導航欄*/

.menu {
  position: absolute;
  top: 55px;
  left: 50px;
  width: 56px;
  height: 56px;
}

.menuSidebar {
  position: fixed;
  left: 0;
  width: 178px;
  height: 100%;
  background-color: #fcf3d7;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  overflow: scroll;
  transition: 5s;
}

.menuSidebar.open {
  transform: translateX(0); 
}

.backButton {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  margin: 10px;
  transition: 0.2s ease-in-out;
}

.backButton:hover {
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
  color: #007bff;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;        
  background-color: #fcf3d7;    
  padding: 10px;
}

.nav-icon {
  font-size: 30px;
  margin-top: 50px;          
  margin-bottom: 40px;
  margin-left: 10px;
  transition: 0.2s ease-in-out;      
  cursor: pointer;           
}

.nav-icon:hover {
  width: 40px;
  height: 40px;
  transition: 0.2s ease-in-out;
  color: #007bff;         
}



.tooltip {
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8); 
  color: white; 
  padding: 5px 10px; 
  border-radius: 5px;
  opacity: 0; 
  transition: opacity 0.3s; 
}

.nav-icon:hover + .tooltip,
.tooltip:hover {
  opacity: 1; /* 當圖示懸浮時顯示 */
}






